@font-face {
    font-family: 'IDM Minimal';
    src: url('assignment-11/fonts/IDM Minimal.ttf');
    font-size: normal;
}

@font-face {
    font-family: 'IDM Minimal';
    src: url('assignment-11/fonts/Hai California.ttf');
    font-size: large;
}

